@import "variables";
body {
    margin: 0 0 0 0;
}
* {
    box-sizing: border-box;
    font-family: 'Quicksand','Noto Sans Japanese', sans-serif;
    margin-top:0;
    margin-bottom: 0;
}

.header {
    @include header();
    
}

.contents {
    @include contents();
    .content-left {
        @include content-left-title();
        @include content-left-card();
        @include content-left-page-tag();

        .article-head {
            @include article-head();
            .article-contents {
                @include article-paragraph();
                .wolf-talk {
                    @include wolf-talkbox();
                }
                &__topic {
                    @include article-topic();
                }
                .explain-box {
                    @include explain-box();
                }
                .hitsuji-talk {
                    @include hitsuji-talkbox();
                }
            }
            .article-category-tags {
                .article-category-list {
                    @include article-category-list();
                }
            }
        }
        .download-box {
            @include download-box();
        }   
    }
    .article-lists {
        @include article-list();
    }
    .breadcrumbs-container-md {
        @include breadcrumbs-container-md();
    }
}

.breadcrumbs-container-lg {
    @include breadcrumbs-container-lg();
}


.footer {
    @include footer();
}